@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.footer {
  background-color: $redi-blue-light;
  padding-bottom: 1rem;
  font-size: $size-4;
  font-weight: $weight-normal;
  line-height: 2rem;
  color: $black;
  border-top: 2px solid $black;

  @include mobile() {
    padding-top: .75rem;
    padding-bottom: 1.25rem;
    font-size: $size-7;
    line-height: $size-4;
  }

  & a {
    color: $black;
    text-decoration: underline;
  }
}