@import "~bulma/sass/utilities/_all";
@import "../../styles/_variables.scss";

.pre-footer {
  &-heading.title {
    margin-bottom: 1.5rem;

    @include mobile() {
      margin-bottom: 1rem;
      font-size: $size-2;
      line-height: 3rem;
    }
  }

  &-content {
    margin-bottom: 2.5rem;
    line-height: 2rem;
    color: $black;

    @include mobile() {
      margin-bottom: 1.5rem;
    }
  }

  &-button {
    width: 75%;
    margin-bottom: 1.5rem;

    @include mobile() {
      margin-bottom: 0;
    }
  }

  &-image {
    position: absolute;
    bottom: -.5rem;
    right: 0;

    &-mobile {
      margin-bottom: -3.5rem;
    }
  }
}